{% extends 'base.html.twig' %}

{% block title %}CitySearch{% endblock %}

{% block body %}
    <h1>Liste des villes : </h1>

    <ul>
        {% for cityName in cityNames %}
           <li>{{ cityName.nom }}</li>
           <li><a href="{{ path('show', {name:cityName.nom}) }}">Détails de la ville</a></li>
        {% endfor %}
    </ul>
{% endblock %}
